@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
/*se usa font-family: 'Caveat', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/*font-family: 'Satisfy', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/*font-family: 'Great Vibes', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
/*font-family: 'Sacramento', cursive;*/
body {
  margin: 0;
  padding: 0;
  font-family: "Great Vibes", cursive;
}

header {
  background-color: #660708;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  position: sticky;
  top: 0;
}
header .titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
header img {
  max-height: 7vw;
  min-height: 7vw;
  filter: invert(100%);
}
header h1 {
  color: #F5F3F4;
  font-family: satisfy;
  font-size: 40pt;
  font-weight: 550;
}
header nav {
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
header nav a {
  text-decoration: none;
  font-family: Kaushan script;
  font-size: 14pt;
  background-color: #F5F3F4;
  color: #BA181B;
  padding: 1vw 2.5vw 1vw 2.5vw;
  margin: 0.5vw;
  border-radius: 1vw;
  box-shadow: 2px 2px 5px grey;
}
header nav a:hover {
  background-color: #BA181B;
  padding: 1vw 2.5vw 1vw 2.5vw;
  color: #F5F3F4;
  text-align: center;
}

.banner {
  margin: auto;
  max-width: 1900px;
}
.banner ul, .banner li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.banner .carrusel {
  position: relative;
  display: flex;
  height: 350px;
  z-index: 9;
}
.banner .carrusel li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  background: #fff;
  height: 400px;
  text-align: center;
}
.banner .carrusel li img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.banner .carrusel li div {
  align-items: center;
  position: absolute;
  object-fit: cover;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.banner .carrusel li div h1 {
  font-size: 300%;
  font-family: "Caveat", cursive;
}
.banner .carrusel li:first-child {
  opacity: 1;
}
.banner .carrusel li:target {
  opacity: 1;
}
.banner .menu {
  text-align: center;
  position: relative;
  z-index: 12;
}
.banner .menu li {
  display: inline-block;
  text-align: center;
}
.banner .menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.6);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

.contenedor1 {
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.caja1 {
  max-width: 25%;
  margin-top: 1em;
  padding: 1em;
  font-size: 12pt;
  background-color: #F5F3F4;
  flex-direction: column;
  align-self: flex-start;
  box-shadow: 5px 3px 5px dimgray;
  border-radius: 1em;
}
.caja1 img {
  width: 100%;
}
.caja1 button {
  max-width: 90%;
  background-color: #F5F3F4;
  padding: 1em;
  border: solid #5a5a5a 1px;
  border-radius: 0.3em;
  font-family: Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 10pt;
  box-shadow: 3px 3px 3px #D3D3D3 105, 105, 105;
}

footer {
  background-color: #660708;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F5F3F4;
}
footer .rrss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
footer .rrss img {
  height: 4vw;
  filter: invert(90%);
  padding: 1vw;
}

/*# sourceMappingURL=estilo.css.map */
