
body {
    margin:0;
    padding: 0;
}

header {
    background-color: $color-burdeo;
    height: 20%;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    position:sticky;
    top: 0;

    .titulo {

    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    
    }

    img {
        max-height: 7vw;
        min-height: 7vw;
        padding: 1vw 2vw 1vw 2vw;
        filter:invert(100%)
        
    }

    h1 {
        color:$color-blanco;
        font-family: satisfy;
        font-size: 40pt;
        font-weight: 550;
        
    }
    nav {
        
        width: 50%;
        margin:0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        a {
            text-decoration: none;
            font-family: Kaushan script;
            font-size: 14pt;     
            background-color: $color-blanco;
            color:$color-rojo;
            padding: 1vw 2.5vw 1vw 2.5vw;
            margin: 0.5vw;
            border-radius: 1vw;
            box-shadow: 2px 2px 5px grey;
        }
        a:hover {
            background-color:$color-rojo;
            padding: 1vw 2.5vw 1vw 2.5vw;
            color:$color-blanco;
            text-align: center;
            
        }
    }
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;

    h1 {
        padding: 1em;
        font-size: xx-large;
    }

}

.contenedor1 {
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

        }
.caja1 {
    max-width:25%;
    margin-top: 1em;
    padding: 1em;
    font-size: 12pt;
    background-color: $color-blanco;
    flex-direction: column;
    align-self: flex-start;
    box-shadow: 5px 3px 5px rgb(105, 105, 105);
    border-radius: 1em;
    
    img {
        width: 100%;
    }

    button {
        max-width: 90%;
        background-color: $color-blanco;
        padding:1em;
        border:solid rgb(90, 90, 90) 1px;
        border-radius: 0.3em;
        font-family: Geneva, Tahoma, sans-serif;
        font-weight: 600;
        font-size: 10pt;
        box-shadow: 3px 3px 3px $color-gris(105, 105, 105);
    
    }

}

footer {
    background-color: $color-burdeo;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-blanco;

    .rrss {  
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;

        img {
        height: 4vw;
        filter:invert(90%);
        padding:1vw;
    }

} }

